.page.bg-empty {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    font-size: 16px;
}
.header1 {
    height: 2.5625rem;
    padding: 0 .85rem;
    font-size: 1rem;
    border-bottom: 1px solid #eee;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.head-back-box {
    width: 1.125rem;
}
.head-back {
    width: .46875rem;
    height: .84375rem;
    background: url(../../img/icon/back.png) no-repeat;
    background-size: 100% 100%;
}
.head-title {
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 16px;
}
.head-home {
    width: 1.125rem;
    height: 1.125rem;
    background: url(../../img/icon/home.png) no-repeat;
    background-size: 100% 100%;
}
.cart-no-goods {
    -ms-flex: 1;
    flex: 1;
    background: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-no-goods .oops {
    width: 5.375rem;
    height: 5.125rem;
    background: url(../../img/icon/no-card-oops.png) no-repeat;
    background-size: 100% 100%;
}
.cart-no-goods .empty-cart {
    font-size: 14px;
    line-height: .9375rem;
    color: #333;
    margin-top: 1rem;
    padding: 0 .75rem;
    text-align: center;
}
.cart-no-goods .go-stroll {
    width: 7.8125rem;
    height: 2.25rem;
    border-radius: 1.25rem;
    color: #fff;
    background: #fe4070;
    line-height: 2.25rem;
    text-align: center;
    margin-top: 1.4375rem;
    font-size: 14px;
}