
.head-wrap {
    height: 38px;
    background: #fff;
    width: 320px;
    font-size: 14px;
    color: #333;
    line-height: 38px;
    text-align: center;
    position: relative;
}
.head-wrap {
    zoom: 1;
    z-index: 1;
    background: transparent;
}
.head-left {
    position: absolute!important;
    left: 0;
    top: 0;
    width: 92px;
    height: 38px;
    box-sizing: border-box;
}
header a {
    text-decoration: none;
    color: #fff;
}
.head-left a, .head-right a {
    display: block;
}
.head-left a {
    background: url(../../../img/icon/back_white_bg.png) left center no-repeat;
    background-size: 24px 24px;
    padding-left: 18px;
}

.head-title {
    position: static;
    background: #ed145b;
    color: #fff;
    float: left;
    width: 320px;
    text-align: center;
    line-height: 38px;font-size: 14px;
}
.head-title {
    background: transparent;
}
.head-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 38px;
    height: 38px;
    background: url(../../../img/icon/home_white_bg.png) center center no-repeat;
    background-size: 24px 24px;
}
#wrapper {
    top: 0;
    position: absolute;
}

#wrapper {
    width: 320px;
}
.user-unlogin {
    box-sizing: border-box;
    height: 158px;
    background-image: -webkit-linear-gradient(294deg,#fd465f 0,#fc5e9f 100%);
    background-image: linear-gradient(-204deg,#fd465f 0,#fc5e9f 100%);
   
}
.user-unlogin {
    padding-top: 50px;
}
.noportrait {
    background-image: url(../../../img/icon/noportrait.png);
    width: 60px;
    height: 60px;
    background-size: 60px;
    margin: auto;
}
.block-content, .operation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.user-unlogin .operation {
    padding: 10px;
    width: 200px;
    margin: auto;
}
.user-unlogin .operation a {
    line-height: 25px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 95px;
}
.user-unlogin .operation .separator {
    background: #fff;
    width: 1px;
    display: inline-block;
    height: 15px;
    vertical-align: middle;
}
.block {
    background: #fff;
    margin-top: 12px;
}
.block-title {
    padding-left: 8px;
    border-bottom: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
i.block-title-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 10px;
}
i.myorder {
    background-image: url(../../../img/icon/myorder.png);
}
.block-title-nav {
    
    text-decoration: none;
    color: #999;
    font-size: 12px;
    margin-right: 5px;
}
i.arrow-right {
    background-image: url(../../../img/icon/advance_bg.png);
    background-size: 20px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}
.block-content, .operation {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.block-item {
    width: 80px !important;
}
.fund .block-item, .order .block-item {
    width: 76px;
    text-align: center;
    display: inline-block;
    margin: 0;
    padding: 10px 0;
    text-decoration: none;
    font-size: 12px;
    color: #666;
}
i.unpaid {
    background-image: url(../../../img/icon/unpaid.png);
}
i.unconfirm {
    background-image: url(../../../img/icon/unconfirm.png);
}
i.uncomment {
    background-image: url(../../../img/icon/uncomment.png);
}
i.refund {
    background-image: url(../../../img/icon/refund.png);
}
i.myfund {
    background-image: url(../../../img/icon/myfund.png);
}
i.rmaservice {
    background-image: url(../../../img/icon/rmaservice.png);
}
i.feedback {
    background-image: url(../../../img/icon/feedback.png);
}
i.address {
    background-image: url(../../../img/icon/address.png);
}
i.logout {
    background-image: url(../../../img/icon/logout.png);
}
i.tel {
    background-image: url(../../../img/icon/tel.png);
}
.order .block-item i {
    display: block;
    width: 24px;
    height: 24px;
    margin: 5px auto;
    background-size: 24px;
}
.list-item {
    display: block;
    text-decoration: none;
    color: #333;
    padding-left: 8px;
    border-bottom: 1px solid #eaeaea;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    text-align: left;
}
i.list-item-icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-size: 20px;
    margin-right: 10px;
}
.list-item .arrow-right {
    float: right;
    margin-top: 6px;
    margin-right: 6px;
}
.hint {
    color: #999;
    font-size: 11px;
    margin: 15px;
    line-height: 15px;
    text-align: left;
}