.search_defer{
    overflow-x: hidden;
    overflow-y: auto;transform-origin: 0px 0px; opacity: 1;
}
header {
    background: #fff;
    overflow: hidden;
    position: relative;
    display: block;
}
header #page_top {
    margin: .4375rem 2.88rem .347rem 1.07rem;
    color: #999;
    background: #F5F5F5;
    border-radius: 1.25rem;
    height: 1.653rem;
    line-height: 1.653rem;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,.05) inset;
    box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,.05) inset;
    font-size: 14px;
    text-align: center;
}
header #page_top img {
    width: .875rem;
    display: inline-block;
    position: relative;
    top: .1875rem;
    left: -.1875rem;
}
header #page_top {
    margin: .4375rem 2.88rem .347rem 1.07rem;
    color: #999;
    background: #F5F5F5;
    border-radius: 1.25rem;
    height: 1.653rem;
    line-height: 1.653rem;
    position: relative;
    display: block;
    -webkit-box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,.05) inset;
    box-shadow: 0 0.0625rem 0.125rem rgba(0,0,0,.05) inset;
    font-size: 14px;
    text-align: center;
}
#search_action {
    width: 1.28rem;
    height: .987rem;
    position: absolute;
    bottom: .68rem;
    right: .64rem;
    z-index: 12;
}
header .search {
    width: 100%;
}
#page_outer {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 21;
}
#search_page {
    position: fixed;
    top: 0px;
    z-index: 22;
    right: 0px;
    width: 84.375%;
    height: 100%;
    background: #fff;
    transform-origin: 0px 0px;
    opacity: 1;
}
.search_head {
    border-bottom: solid 1px #f5f5f5;
    background: #fff;
    position: relative;
    padding: .347rem 3.093rem .347rem 0.8rem;
}
.input_outer {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    background: #F5F5F5;
    position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.05) inset;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05) inset;
}
.search_icon {
    width: .773rem;
    height: .773rem;
    position: absolute;
    top: .427rem;
    left: .853rem;
}
.search_input {
    border: none;
    background: transparent;
    padding-left: 1.866rem;
    color: #999;
    width: 100%;
    height: 1.653rem;
}
#search_page a {
    text-decoration: none;
    color: #333;
    display: block;
}
#search_page .search_btn {
    color: #999;
    position: absolute;
    top: 0.773rem;
    right: .64rem;
    transform-origin: 0px 0px;
    opacity: 1;
    font-size: 14px;
}
.search_links, .search_subs {
    list-style: none;
    padding: 0px;
    color: #666;
    margin: 0px;
    overflow-y: scroll;
}
.search_ul{
        height: 766px;
    transform-origin: 0px 0px;
    opacity: 1;
}
.search_link {
    padding-left: .8rem;
        border-bottom: solid 1px #eee;
    position: relative;
    line-height: 2.347rem;
    font-size: 14px;
    text-align: left;
}
.search_link .arrow {
    position: absolute;
    right: 0.813rem;
    top: 1.053rem;
    width: .48rem;
    height: .48rem;
    background: url(../../img/icon/down.png) no-repeat;
    background-size: contain;
}
.search_subs {
    border-top: solid 1px #eee;
    overflow: hidden;
    margin-left: -.8rem;
}
#search_page .search_sub {
    line-height: 2.347rem;
    margin-top: 1px;
    background: #f5f5f5;
    text-indent: 30px;
}
#search_page .search_sub a {
    color: #666;
}
.search_link.select {
    color: #fe4070;
    border-bottom: none;
}
.search_link.select .arrow {
    background: url(../../img/icon/up.png) no-repeat;
    background-size: contain;
}
#hearder_nav {
    height: 2.347rem;
    position: relative;
    z-index: 20;
    background: #fff;
}
.headerNav {
    height: 2.347rem;
    width: 21.86rem;
    background-color: #fff;
    border-bottom: solid .0625rem #eee;
}
.navTitle {
    float: left;
    position: relative;
    width: auto;
    padding: 0 .9375rem;
    text-align: center;
}
.navTitle>a {
    padding: 0 .125rem;
    height: 2.347rem;
    line-height: 2.347rem;
    display: inline-block;
    width: auto;
}
.headerNav .navTitle a {
    color: #666;
    text-decoration: none;
    position: relative;
    -webkit-tap-highlight-color: transparent;
}
.navTitle span {
    font-size: 14px;
    vertical-align: middle;
}
.headerNav .nav_select>a {
    color: #fe4070;
    border-bottom: none;
}
.nav_select .header-nav-line {
    background: #fe4070;
    height: .125rem;
    border-radius: .125rem .125rem 0 0;
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: -.0625rem;
}
.tab-title {
    height: 2.34667rem;
    line-height: 2.34667rem;
    color: #666;
    background: #fff;
}
.tab-title .title-item {
    width: 9.86667rem;
    font-size: 14px;
    display: inline-block;
    text-align: center;
}
.tab-title .tab-click {
    color: #fe4070;
}
.goto-top {
    position: fixed;
    bottom: 6.5rem;
    width: 2.133rem;
    height: 2.133rem;
    z-index: 20;
    right: 0.8rem;
    -webkit-transform-origin: 0px 0px 0px;
    -ms-transform-origin: 0px 0px 0px;
    transform-origin: 0px 0px 0px;
    opacity: 1;
    background: url(https://f0.jmstatic.com/btstatic/h5/common/go_top2.png) left center / contain no-repeat !important;
}
.touch-footer-container {
    padding-left: .625rem;
    padding-right: .625rem;
    padding-bottom: 3.125rem;
    background: #fff;
    overflow: hidden;
}
.touch-footer-container .footer-image {
    padding-top: 13px;
}
.touch-footer-container .footer-image img {
    width: 100%;
}
.touch-footer-container .tab {
    text-align: center;
    width: 18.75rem;
    margin: 10px auto 0;
}
.touch-footer-container .tab li {
    border: 1px solid #e3e3e3;
    line-height: 31px;
    color: #666;
    font-size: 14px;
    height: 31px;
    width: 4.48rem;
    margin-right: 2.293rem;
    display: inline-block;
    border-radius: 1.25rem;
}
.touch-footer-container .tab .checked {
    background: #FFFFFF;
}
.touch-footer-container .tab .checked a {
    color: #fe4070;
}
.clear:after, .clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.touch-footer-container .bottom-rights {
    position: relative;
    margin: 1.25rem auto .625rem;
    color: #999;
    font-size: 16px;
    width: 100%;
    text-align: center;
}
.bottom-rights p{
    font-size: 14px;
}
.product-item {
    margin-bottom: 8px;
    display: block;
}
.jmstore-item {
    height: 6.93333rem;
    overflow: hidden;
}
.item-each {
    position: relative;
    overflow: hidden;
    background: #fff;
}
.jmstore-item img {
    height: 100%;
}
.deal-item {
    height: 6.93333rem;
}
.product-img {
    position: relative;
    height: 100%;
}
.product-img img {
    height: 100%;
}
.product-detail {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: .64rem;
    margin-left: 8.53333rem;
    height: 100%;
    min-width: 10.827rem;
}
.product-detail .product-title {
    margin-top: .64rem;
    color: #333;
    font-size: 13px;
    line-height: 17px;
    max-height: 51px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    margin-bottom: 5px;
    text-align: left;
}
.product-detail .price-wrap {
    position: absolute;
    bottom: .64rem;
}
.product-detail .price-wrap .advance-price, .product-detail .price-wrap .jumei-price {
    color: #fe4070;
    font-size: 12px;
}
.product-detail .price-wrap .advance-price span, .product-detail .price-wrap .jumei-price span {
    font-size: 20px;
    margin: 0 2px;
}
.product-detail .price-wrap .del-price {
    color: #999;
    font-size: 12px;
    text-decoration: line-through;
}
.product-detail .price-wrap .buy-num {
    color: #999;
    font-size: 11px;
}
.deals-icon {
    background: #fff;
    margin-bottom: .427rem;
}
.deals-icon ul {
    text-align: center;
    padding: .907rem 0;
}
.deals-icon ul li {
    width: 4.818rem;
    display: inline-block;
    text-align: center;
    position: relative;
}
.deals-icon ul li img {
    display: block;
    width: 53.2%;
    margin: 0 auto;
}
.deals-icon li .deals-text {
    width: 100%;
    color: #666;
    margin-top: .4rem;
    text-align: center;
    font-size: 12px;
}
.deals-content {
    margin-bottom: .427rem;
    background: #fff;
}
.deals-content-header {
    text-align: center;
}
.deals-content-header span {
    color: #333;
    font-size: 14px;
    display: inline-block;
}
.deals-content-header .head_bg {
    width: .827rem;
    height: 2.133rem;
    line-height: 2.133rem;
    position: relative;
    top: .1875rem;
}
.deals-content-header .head_bg img {
    width: 100%;
}
.deals-content-header span {
    color: #333;
    font-size: 14px;
    display: inline-block;
}
.touch-activity-detail li {
    vertical-align: top;
}
.touch-activity-detail li a {
    display: block;
}
.touch-activity-detail li .product-info {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: .64rem 0;
    margin: 0 .64rem;
}
.touch-activity-detail li .product-info .product-img {
    text-align: center;
    overflow: hidden;
    width: 5.333rem;
    height: 5.333rem;
    float: left;
    position: relative;
    z-index: 9;
}
.touch-activity-detail li .product-info .product-img img.product-label {
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
    z-index: 19;
}
.touch-activity-detail li .product-info .product-img img.haitaoy-label {
    width: 1.6rem;
    transition: all 350ms ease 0s;
    opacity: 1;
    height: 1.25rem;
}
.deal-img {
    width: 100%;
        transition: all 350ms ease 0s;
    opacity: 1;
}
.product-desc {
    width: 12.6rem;
    height: 5.333rem;
    margin-left: .64rem;
    position: relative;
}
.touch-activity-detail li .product-info .product-name {
    color: #333;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    display: -moz-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    -o-line-clamp: 2;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -o-box-orient: vertical;
}
.touch-activity-detail li .product-info .price-info {
    font-size: 13px;
    position: absolute;
    color: #999;
    bottom: .8rem;
    left: 0;
}
.exceed-hidden {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.activity-jumei-price {
    height: 1.125rem;
}
.touch-activity-detail li .product-info .price-info .price {
    color: #fe4070;
}
.price span {
    font-size: 18px;
}
.touch-activity-detail li .product-info .price-info .old {
    margin-left: .1875rem;
    text-decoration: line-through;
}
.clear:after, .clearfloat:after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}
.list-items, .tuan-items {
    background: #fff;
    margin-bottom: .427rem;
}
.items-title {
    text-align: center;
    font-weight: 400;
}
.items-title span {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    display: inline-block;
}
.items-title .head_bg {
    width: .826rem;
    height: 2.133rem;
    margin-right: .375rem;
    position: relative;
    top: .1875rem;
    line-height: 2.133rem;
}
.items-title .head_bg img {
    width: 100%;
}
.items-title span {
    font-size: 14px;
    color: #333;
    font-weight: 400;
    display: inline-block;
}
.metra-lists {
   position: relative;
    height: 12.5rem;
}
.metra-list {
 position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.metra-list, .metra-list img {
    display: block;
}

.metra-list img {
    width: 100%;
}
.tuan-items a {
    display: block;
}
.list-img {
    position: relative;
    height: 9.813rem;
    overflow: hidden;
}
.list-img>img {
    width: 100%;
}
.list-flag-discount {
    bottom: .747rem;
    background-color: #000;
    height: .96rem;
    line-height: .96rem;
    font-size: 11px;
}
.list-flag {
    position: absolute;
    color: #fff;
    font-size: 11px;
    text-align: center;
    padding: 0 .125rem;
}
.list-info {
    padding: .8rem;
    max-width: 13.333rem;
}
.list-tit{
    color:#333;
    font-size: 14px;
font-weight: 400;
margin-bottom: .267rem;
}
.list-countdown {
    color: 
    #999;
    height: .64rem;
    line-height: .64rem;
    vertical-align: middle;
    font-size: 12px;
}
.list-logo {
    padding-top: .613rem;
    padding-right: .96rem;
    width: 3.893rem;
    height: 1.92rem;
    overflow: hidden;
}
.list-logo>img {
    width: 100%;
}