body,html {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  user-select: none;
  font-size: 18.75px;
    display: block;    
    padding-bottom: 52px;
    width: 100%;
    height: 100%;
    background: #f2f2f2;
    overflow-x: hidden;
}
#root{
  width: 100%;
    height: 100%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
    -webkit-appearance: none;
    border: none;
    outline: none;
    text-transform: none;
    -webkit-tap-highlight-color: rgba(255,0,0,0);
    font-size: 14px;
}
p{
  margin: 0;
}
li {
    list-style: none;
}
ul{
  padding: 0;
  margin: 0;
}
h2{
  padding: 0;
  margin: 0;
}
h1{
  padding: 0;
  margin: 0;
}
form {
    margin: 0 12%;
}
input::-webkit-input-placeholder{
  color:#ccc;
}
a, a:link, a:visited, a:hover {
    text-decoration: none;
}

.fl {
    float: left;
}
.fr {
    float: right;
}
.color3 {
    color: #333;
}
.fs14 {
    font-size: 14px;
}
.fs18 {
    font-size: 18px;
}
.color9 {
    color: #999;
}
.fs13 {
    font-size: 13px;
}
.fs11 {
    font-size: 11px;
}
.fs10 {
    font-size: 10px;
}
